body {
  margin: auto auto;

  font-family: Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.log {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.header__card {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 10px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
